@page
@model IndexModel
@{
    ViewData["Title"] = "Hallo AZ400";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Erfahren Sie mehr über <a href="https://learn.microsoft.com/aspnet/core">Bau von Webanwendungen mit ASP.NET Core</a>.</p>
</div>
